<template name="navbar">
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="{{pathFor 'home'}}" class="icon-about"><span>About</span></a></li>
                <li><a href="{{pathFor 'papers'}}" class="icon-papers"><span>Papers</span></a></li>
                <li><a href="{{pathFor 'courses'}}" class="icon-courses"><span>Courses</span></a></li>
                <li><a href="{{pathFor 'cv'}}" class="icon-cv"><span>CV</span></a></li>
                <li><a href="{{pathFor 'blog'}}" class="icon-blog"><span>Blog</span></a></li>
            </ul>
        </nav>
    </div><!-- /tabs -->
    <script src="js/cbpFWTabs.js"></script>
    <script>
        new CBPFWTabs( document.getElementById( 'tabs' ) );
    </script>
</template>