@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

p {
	font-size: 18px;
	line-height: 3rem;
}
li {
	font-size: 18px;
	line-height: 3rem;
}

h1 {
	padding-bottom: 3rem;
}

p.center {
	text-align: center;
}

// HOME PAGE