<template name="home">
	<div class="container">
		<img src="sinclair.jpeg" alt="">
		<div class="readWidth">

			<h1>J. Andrew Sinclair</h1>
			<p>
				I am a Research Associate at the University of Southern California and a Visiting Assistant Professor of Government at Claremont McKenna College.  I mostly study American Politics and Political Methodology, although I have very broad interests in political science.  
			</p>
			<p>
				Substantively my research focuses on the relationship between electoral institutions and political behavior.  I wrote my dissertation about American primary election laws (since 1945) and am in the final stages of completing a book (with Cambridge University Press) on California's new "top-two" nonpartisan primary.  This project required quantitative analysis of survey data and aggregate statewide results as well as interviews and election observation.  I am interested in evaluating if primary election reforms can meaningfully change political outcomes.
			</p>
			<p>
				At the moment, I am also working on a few research projects about the "bonfire of the quangos" in the UK (in sum: I study "Yes Minister").  This work fits in with my larger interests in democratic accountability (in the American context, Fed. 70: "... the restraints of public opinion") because independent or "arms-length" agencies are intentionally separated from the political process.
			</p>
			<p class="center">
				Contact: JSinclair08@gmail.com
			</p>
			<p>
				You can find a full list of publications, working papers, and conference presentations on my CV page (see the tab on your left).  I also have a few recent conference papers posted under the "Working Papers" tab, along with links to some of my published work.
			</p>
			<p>
				Outside of my research, I enjoy a great number of things: hiking, football, playing my bagpipes (fair warning: not well), designing board games, lifting weights, and reading.
			</p>
			<p>
				P.S.
			</p>
			<ol>
				<li>Yes, my first name is John.</li>
				<li>Yes, I am related to the political scientist Betsy Sinclair. She is one of my two older sisters; my older sister, Laura, is a physicist and shoots things with lasers.</li>
				<li>Photograph taken at the Nixon Library</li>
			</ol>
		</div>
	</div>
</template>